.top-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #34BC8D;
  img{
    height: 50px;
  }
  .links{
    padding: 15px;
  }
  a {
    padding-left: 10px;
  }

}
