.top-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(#0D2987, #34BC8D 60%, #7FEDC7, #00FFA7 90%);
  img{
    height: 50px;
  }
  .links{
    padding: 15px;
  }
  a {
    padding-left: 10px;
  }

}
