<div class="">
  homepage works
</div>










<!-- CURRENTLY NOT NEEDED. MUST SET UP GRID AND BASIC LAYOUT FIRST! THIS IS ONLY FOR EASY IMPLEMENTATION LATER -->
<!-- links needed for amenities section -->
<!-- <div>
  <ul>
    <li><a href="#" routerLink="coffee">Coffee</a></li>
    <li><a href="#" routerLink="wifi">WIFI</a></li>
    <li><a href="#" routerLink="activities">Activities</a></li>
    <li><a href="#" routerLink="printing">Printing</a></li>
    <li><a href="#" routerLink="work-space">Work space</a></li>
  </ul>
</div> -->
