<div class="grid">
  <div class="grid-panel">
    <div class="welcome">
      <div class="welcome-info">
        <img src="assets/images/entrance.png" alt="">
        <div class="header">
          <h3>Where work flows naturally</h3>
        </div>
      </div>
      <div class="empty1">

      </div>
      <div class="empty2">

      </div>
    </div>
  </div>
  <div class="grid-panel2">
    <div class="about">
      <h2>Welcome to *Blank*</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="about-image">
      <div class="">
        <img src="assets/images/meeting.png" alt="">
      </div>
      <div class="thing">
        <h3><span>Always Interesting</span></h3>
        <p>Here at *Blank*, we strive to bring you the best experience. We see artists, Programmers, Writers, and all sorts of wonderful faces.</p>
      </div>
    </div>
  </div>
  <div class="grid-panel3">
    <div class="amenities">
      <h2>Amenities</h2>
    </div>
    <div class="coffee" class="inner-panel">
      <a href="#" routerLink="coffee"><img src="assets/images/coffee.png" alt=""></a>
    </div>
    <div class="wifi" class="inner-panel">
      <a href="#" routerLink="wifi"><img src="assets/images/wifi.png" alt=""></a>
    </div>
    <div class="activities" class="inner-panel">
      <a href="#" routerLink="activities"><img src="assets/images/yoga.png" alt=""></a>
    </div>
    <div class="printing-faxing" class="inner-panel">
      <a href="#" routerLink="printing"><img src="assets/images/print.png" alt=""></a>
    </div>
    <div class="work-spaces" class="inner-panel">
      <a href="#" routerLink="work-space"><img src="assets/images/workspaces.png" alt=""></a>
    </div>
  </div>
</div>
