<div class="grid">
  <div class="grid-panel">
    <div class="welcome">
      <div class="welcome-info">
        <img src="assets/images/entrance.png" alt="">
        <div class="header">
          <h3>Where work flows naturally</h3>
        </div>
      </div>
      <div class="empty1">
        blank
      </div>
      <div class="empty2">
        blank
      </div>
    </div>
  </div>
  <div class="grid-panel">
    about section
  </div>
  <div class="grid-panel">
    amenities grid section
  </div>
</div>










<!-- CURRENTLY NOT NEEDED. MUST SET UP GRID AND BASIC LAYOUT FIRST! THIS IS ONLY FOR EASY IMPLEMENTATION LATER -->
<!-- links needed for amenities section -->
<!-- <div>
  <ul>
    <li><a href="#" routerLink="coffee">Coffee</a></li>
    <li><a href="#" routerLink="wifi">WIFI</a></li>
    <li><a href="#" routerLink="activities">Activities</a></li>
    <li><a href="#" routerLink="printing">Printing</a></li>
    <li><a href="#" routerLink="work-space">Work space</a></li>
  </ul>
</div> -->
