$backgroundColor: #E0F0EC;

@mixin banner{
  width: 100%;
  position: relative;
  color: rgba(255,255,255,0.8);
  .header{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
  }
  img{
    width: 100%;
  }
}

.grid{
  margin: -10px;
  background-color: $backgroundColor;

  .grid-panel{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    .welcome {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      width: 100%;
      .empty1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background-color: $backgroundColor;
      }
      .empty2{
        grid-column: 10 / 11;
        background-color: $backgroundColor;
      }
      .welcome-info{
        @include banner;
        grid-column: 2 / 10;
      }
    }
  }
  .grid-panel2 {
    h2{
      text-align: center;
    }
    h3{
      text-align: center;
    }
    p{
      padding-left: 100px;
      padding-right: 100px;
    }
    .about-image{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 10px;
      border-top: 1px solid black;
      img{
        width:100%;
        border-radius: 40%;
      }
      p{
      padding-left: 10px;
      padding-right: 10px;
      }
    }
  }
  .grid-panel3{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .amenities{
      grid-column: 1 / 6;
      text-align: center;
    }
  }
  .inner-panel{
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    img{
      width: 100%;
      border-radius: 50%;
    }
  }
  .inner-panel img:hover{
    border: 3px solid blue;
  }
}
